<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/resource/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/framework/sb-admin-2.min.css}" />
</head>

<body>
	<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${title} + ' - 404'"></h3>
                    </div>
                    <div class="panel-body">
                    	<div>找不到相关的资源</div>
                    	<div>
                    		<a href="javascript:;" onclick="go('/');">返回首页</a>
                    	</div>
                    </div>
                </div>
            </div>
        </div>

	</div>

</body>
</html>