<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/resource/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/framework/sb-admin-2.min.css}" />
<link rel="stylesheet" th:href="@{/resource/system/login/index.css}" />
</head>

<body>
	<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${title}"></h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" onsubmit="return false;">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" id="username" placeholder="用户名" class="form-control" />
                                </div>
                                <div class="form-group">
                                	<input type="password" id="password" placeholder="密码" class="form-control" />
                                </div>
                                <div class="checkbox remembermeCheckBox">
                                	<input id="rememberMe" type="checkbox" /><span>记住我</span>
			                        <div class="additonal_links">
			                        	<a th:href="${registerUri}">注册</a>
			                        	<a th:href="${findPasswordUri}">找回密码</a>
			                        </div>
                                </div>
                                <div class="form-group">
                                	<div id="tip" class="alert alert-warning"></div>
                                </div>
                                <button id="btn" class="btn btn-lg btn-success btn-block">登录</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

	</div>

	<script type="text/javascript" th:src="@{/resource/lib/json/json2.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/base64/base64.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/lodash/lodash.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/jquery/jquery-3.1.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/js/keycode.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/login/index.js}"></script>
	
</body>
</html>